body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
      background: linear-gradient(-45deg, #000000, #001f3f, #003366, white);
      background-size: 400% 400%;
      animation: gerakLaut 10s ease infinite;
}

@keyframes gerakLaut {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }


nav {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    background: #0f2961;
    box-shadow: 0 1px 12px rgb(0,0,0);
    z-index: 99;
    padding: 0 50px;
}


nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 45px;
    font-size: 25px;
    cursor: pointer;
}

nav .left p{
    background-color: #0f2961;
    color: white;
    padding: 10px 10px;
    font-size: 30px;
}


nav .left p:hover{

    background-color: white;
    color: black;
    border-radius: 30px;
}

nav .right {
    position: absolute;
    right: 40px;
    display: flex;
    gap: 10px;
    gap: 20px;
}

nav .right img{
    width: 40px;
    height: 40px;
    margin: 10px 15px;
    cursor: pointer;
}

 .left-1 img{
    margin-top: 30px;
    width: 625px;
    height: 500px;
}

 .left-1 .foto-oe img{
    width: 450px;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 87.5px;
    transition: 1.5s;
}

.left-1 .foto-oe img:hover{
    transform: rotate(360deg);
    
    cursor: pointer;
    box-shadow: 0 1px 25px white;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
}

.main .right{
    margin-top: 100px;
    margin-left: 100px;
    color: white;
    font-size: 22px;
}



.main .right .img img{
    width: 55px;
    height: 55px;
    padding: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 40px;
    box-shadow:  0 1px 12px rgb(254, 254, 254);
    transition: 0.4s ease;
}

.main .right .img img:hover{
    display: flex;
    gap: 30px;
    transform: translateY(-22px);
    cursor: pointer;
}
.main .right .img{
    display: flex;
    gap: 30px;
    
}

.hehe{
   
    width: 100%;
    height: 100vh;
}

.hehe .yapping{
    font-size: 22px;
    color: white;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
}

.hehe .keahlian img{
    width: 900px;
    height: 450px;
    border-radius: 50px;
   margin-bottom: 25px;
   box-shadow: 0 1px 25px black;
    transition: 0.8s ease;
}

.hehe .keahlian img:hover{
    transform: scale(1.1);
   
    box-shadow: 0 1px 45px white;
}

.hehe .haha p{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.hoho .yapping2{
    font-size: 22px;
    color: white;
    margin-top: 100px;
    text-align: center;

}

.hoho .project {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    margin-top: 40px;           
}

.hoho .project img {
    width: 800px;   
    height: auto;  
    border-radius: 15px;
    box-shadow: 0 1px 25px black;
    transition: 0.8s;
    margin-bottom: 25px;
}

.hoho .project img:hover {
    transform: scale(1.1);
    box-shadow: 0 1px 45px white;
}

.hoho .yapping3 {
    text-align: center;  
    color: white;
    font-size: 20px;
    line-height: 1.5;   
    margin-top: 20px;    
    margin-bottom: 80px;  
}


.hoho .yapping3 p{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

